%h1 WYSIWTF Editor
%hr
%br
%button#insert-comment{type: "button", disabled: true} Comment
=text_area_tag :editor1, "<p>Here is some text.</p><p></p>", :class => "redactor", :rows => 40, :cols => 120
%br
%br
-#=text_area_tag :editor2, "<p>Here is <i>even more</i> text.</p></p>", :class => "redactor", :rows => 40, :cols => 120

#diff-display

%br
%br
%button{:type => 'button', :id => 'remote-diff'} Do dat diff
#remote-diff-result.maskable{:style => 'border: 1px solid #ccc; min-height: 300px;'}
  %span{:style => 'color: #ccc'} Click diff to view it...


-content_for :javascript do
  -#=render :partial => '/redactor/remote_video'

  :javascript
    jQuery(document).ready( function($, document) {
      var csrf_token = $('meta[name=csrf-token]').attr('content');
      var csrf_param = $('meta[name=csrf-param]').attr('content');
      var params = "";
      if (csrf_param !== undefined && csrf_token !== undefined) {
        params = csrf_param + "=" + encodeURIComponent(csrf_token);
      }

      var onImageUploadSuccess = function (obj, json) {
        // debugger;
      };

      var onImageUploadError = function (obj, json) {
        alert(json.error[0] || json.error)
      };

      $('.redactor').redactor({
        buttons: ['formatting', '|', 'bold', 'italic', 'underline', 'deleted', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|',
          'link', 'image', 'remote_video', '|', 'alignment', '|', 'horizontalrule'],
        plugins: ['emdash', 'inline_commenting'],

        keyupCallback: function(event) {
          // this.emdash.onKeyup(event);
        },
        keydownCallback:  function(event) {
          // this.emdash.onKeydown(event);
        },

        // Image upload support
        imageUpload: "#{images_redactor_upload_path}?" + params,
        imageGetJson:"#{images_redactor_index_path}",
        imageUploadCallback: onImageUploadSuccess,
        imageUploadErrorCallback: onImageUploadError,

        //"css":"style.css",
        // "path":"/assets/redactor-rails"
      });
    });
