%h1 WYSIWTF Editor
%hr
%br
=text_area_tag :editor1, "<p>Here is some text.</p><p><img src=\"http://blogs.houstonpress.com/rocks/disco_stu2.gif\"></p>", :class => "redactor", :rows => 40, :cols => 120
%br
%br
=text_area_tag :editor2, "<p>Here is <i>even more</i> text.</p><img src=\"http://www.teesnthings.com/ProductImages/tv-show/simpsons-t-shirts/disco-stu-air-freshener.jpg\"></p>", :class => "redactor", :rows => 40, :cols => 120

#diff-display

%br
%br
%button{:type => 'button', :id => 'remote-diff'} Do dat diff
#remote-diff-result.maskable{:style => 'border: 1px solid #ccc; min-height: 300px;'}
  %span{:style => 'color: #ccc'} Click diff to view it...
